@{
    ViewData["Title"] = "Home Page";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Welcome to Bookish Library</h1>
        <p class="text-muted">A library-management system for book management, member management and checking books
            in/out!</p>
        <a href="a" class="btn btn-primary">Search books</a>
    </div>
</section>
<h3 class="h3">Top Books</h3>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://blackwells.co.uk/jacket/l/9781529019001.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Coders</h5>
                <p class="card-text">To understand the world today, we need to understand code and its consequences.
                    With Coders, Thompson gives a definitive look into the heart of the machine.</p>
                <div class="btn-group">
                    <a href="#" class="btn btn-primary">See details</a>
                </div>
                <small class="text-muted">Clive Thompson</small>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top"
                src="https://a9p9n2x2.stackpathcdn.com/wp-content/blogs.dir/1/files/2018/05/Michelle_Obama_Book_FT.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Becoming</h5>
                <p class="card-text">Becoming is the memoir of former First Lady of the United States Michelle Obama,
                    published in 2018. Described by the author as a deeply personal experience, the book talks about her
                    roots and how she found her voice, as well as her time in the White House, her public health
                    campaign, and her role as a mother.</p>
                <a href="#" class="btn btn-primary">See details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top"
                src="https://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781471195204/the-7-habits-of-highly-effective-people-revised-and-updated-9781471195204_hr.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">The 7 Habits of Highly Effective People</h5>
                <p class="card-text">Stephen R. Covey’s book continues to be a best seller for the simple reason that it
                    ignores trends and pop psychology and focuses on timeless principles of fairness, integrity,
                    honesty, and human dignity. </p>
                <a href="#" class="btn btn-primary">See details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/P/0007461216.01._SCLZZZZZZZ_SX500_.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mere Christianity</h5>
                <p class="card-text">Mere Christianity is C.S. Lewis's forceful and accessible doctrine of Christian
                    belief.</p>
                <a href="#" class="btn btn-primary">See details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/P/162656941X.01._SCLZZZZZZZ_SX500_.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Eat That Frog!</h5>
                <p class="card-text">Bestselling author Brian Tracy cuts to the core of what is vital to effective time
                    management: decision, discipline, and determination.</p>
                <a href="#" class="btn btn-primary">See details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/41R1H0VPQJL.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Drop the Pink Elephant</h5>
                <p class="card-text">Bill McFarlan reveals how to avoid the deadly trap of allowing poor communication
                    skills to obscure your meaning and
                    reduce your effectiveness. Drop the Pink Elephant is filled with helpful, simple and practical
                    advice on how to make
                    your words count for more.</p>
                <a href="#" class="btn btn-primary">See details</a>
            </div>
        </div>
    </div>
</div>