@model BookModel

<div class="container">
    <h3>Delete a Copy</h3>
    @if (ViewBag.Message == true)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            A copy or less, are you sure you want to remove this book from the database?
        </div>
    }

    <form method="post" asp-action="DeleteCopy" asp-controller="Book">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" value=@Model.Title readonly />
        </div>
        <div class="form-group">
            <label asp-for="AuthorName"></label>
            <input asp-for="AuthorName" class="form-control" value=@Model.AuthorName readonly />
        </div>
        <div class="form-group">
            <input type="submit" value="Delete Copy?" class="btn btn-primary" />
        </div>
    </form>
</div>