@model BookModel

<div class="container">
    <h3>Delete Book</h3>

    <form method="post" asp-action="DeleteBook" asp-controller="Book">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" value=@Model.Title readonly />
        </div>
        <div class="form-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" value=@Model.Author readonly />
        </div>
        <div class="form-group">
            <input type="submit" value="Are you sure delete?" class="btn btn-primary" />
        </div>
    </form>
</div>